* {
  padding: 0%;
  margin: 0%;
  font-family: "PT Serif", serif;
}

.nav .nav-link {
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.nav .nav-item :hover {
  background-color: #ffc107;
  color: white;
  border-radius: 4px;
}

.nav .dropdown:hover > .dropdown-menu {
  display: block;
}

.nav .dropdown-menu > .dropdown-item:hover {
  background-color: #ffc107;
  color: white;
}

.nav .dropdown > .dropdown-menu {
  background-color: white;
}

.home .heading {
  color: rgb(247, 246, 246);
  text-shadow: 4px 4px 5px black;
}

.nav .navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.home .welcome {
  font-size: 50px;
  margin-top: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.home .background-image {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav #logo {
  width: 120px;
  padding: 2px;
}

#changetext:after {
  color: rgb(237, 178, 28);
  font-weight: bold;
  content: "";
  animation-name: changetextcontent;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes changetextcontent {
  0%,
  100% {
    content: "INDIA";
  }
  40% {
    content: "USA";
  }
  60% {
    content: "FRANCE";
  }
  80% {
    content: "GERMANY";
  }
  100% {
    content: "CANADA";
  }
}

.home .book:hover {
  color: white;
  background-color: #ffc107;
}

.book-now .img-fluid {
  width: 1500px;
  padding-top: 70px;
  filter: drop-shadow(0px 0px 5px rgb(173, 173, 172));
  position: relative;
  transition: transform 1s ease-in-out;
}

.book-now .img-fluid:hover {
  transform: scale(1.1);
}

.book-now .form-group {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.packages .wavy-text {
  padding-left: 50px;
  animation: wave 1s infinite;
  display: inline-block;
}

.book-now input[type="text"],
select {
  border: none;
  box-shadow: 4px 4px 2px rgb(162, 160, 160);
}

.book-now input[type="number"],
select {
  border: none;
  box-shadow: 4px 4px 2px rgb(162, 160, 160);
}
.book-now input[type="date"],
select {
  border: none;
  box-shadow: 4px 4px 2px rgb(162, 160, 160);
}
.book-now textarea,
select {
  border: none;
  box-shadow: 4px 4px 2px rgb(162, 160, 160);
}

.animated-tada {
  padding-left: 50px;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  animation: tada 2s infinite;
  font-size: 45px;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.packages h1 {
  font-weight: bolder;
  color: #ffc107;
}

.packages .carousel-item > img {
  width: 100%;
  height: 60vh;
}
.Rating-Reviews .star {
  color: orange;
}

.Rating-Reviews .card img {
  height: 30vh;
}

.Rating-Reviews .card {
  border: none;
  position: relative;
  transition: transform 1s;
}

.Rating-Reviews p {
  display: none;
}
.Rating-Reviews .card:hover p {
  display: inline;
}
.Rating-Reviews .card:hover {
  position: absolute;
  z-index: 1;
  transform: scale(1);
  border: none;
  box-shadow: 0px 0px 20px rgb(162, 160, 160);
}

.login label {
  font-weight: 700;
}

.services {
  background: rgb(5, 176, 185);
}

.services .card img {
  width: 100px;
  border-radius: 50%;
  border: 10px solid rgb(5, 176, 185);
  transition: transform 1s ease-in-out;
  margin-top: -80px;
}

.services .card:hover img {
  transform: rotate(360deg);
}

.services .card {
  cursor: pointer;
  padding: 10px;
  margin: 25px;
}

.services .card h3 {
  color: rgb(232, 178, 4);
}
